<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="polyfills.js"></script>
</head>
<body>

<div id="app">
    <input v-model="newTask" v-on:keyup.enter="addTask" id="input">
    <ul>
        <todo-item
                v-for="task in tasks"
                :task="task"
                :key="task.id"
                v-on:remove="removeTask(task)">
        </todo-item>
    </ul>
</div>

<script>
    Vue.component('todo-item', {
        template: `
            <li>
                {{ task.id }}
                <input
                v-model="task.text">
                <a href="#" v-on:click="removeTask">削除</a>
            </li>
        `,
        props: ['task'],
        methods: {
            removeTask: function () {
                this.$emit('remove');
            },
        },
    });

    const data = {
        newTask: '',
        tasks: [],
    };

    const app = new Vue({
        el: '#app',
        data: data,
        methods: {
            addTask: function () {
                if (this.newTask === '') return;
                const ids = this.tasks.map(x => x.id);
                const nextId = Math.max.apply(null, ids.concat([0])) + 1;
                this.tasks.push({
                    id: nextId,
                    text: this.newTask,
                });
                this.newTask = '';
            },
            removeTask: function (task) {
                this.tasks.remove(task);
            },
        },
    });

    const input = document.getElementById('input');
    input.focus();
</script>

</body>
</html>
