<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="polyfills.js"></script>
</head>
<body>

<div id="app">
    <input v-model="newTask" v-on:keyup.enter="addTask" id="input">
    <ul>
        <li v-for="task in tasks">{{ task }}<button v-on:click="removeTask(task)">remove</button></li>
    </ul>
</div>

<script>
    const data = {
        newTask: '',
        tasks: [],
    };

    var app = new Vue({
        el: '#app',
        data: data,
        methods: {
            addTask: function () {
                if (this.newTask === '') return;
                this.tasks.push(this.newTask);
                this.newTask = '';
            },
            removeTask: function (task) {
                this.tasks.remove(task);
            },
        },
    });

    var input = document.getElementById('input');
    input.focus();
</script>

</body>
</html>
